# This is Git's per-user configuration file.
[user]
	name = hani
	email = ian.han@thehutgroup.com
# Please adapt and uncomment the following lines:
#	name = Ian Han
#	email = ian.han@thehutgroup.com
[alias]
	co = checkout
	s = status
	c = commit
	cm = checkout master
	pl = pull
	ps = push
	b = branch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
